.circle-icon {
  /* display: inline-block; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
  color: white;
  background-color: $gray-900;
  border-radius: 100%;
  outline: none;
  transition: all 0.3s;

  &:active,
  &:focus,
  &:hover {
    background-color: $primary;
    color: white;
  }
}
