// Styling for the services section
.service-item {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;

    &.service-item-odd {
      flex-direction: row-reverse;
    }
  }
}

.service-item-image-part,
.service-item-text-part {
  @media (min-width: 768px) {
    width: 50%;
  }
}

.service-item-text-part {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  @media (min-width: 768px) {
    &.service-item-text-odd {
      padding-right: 2rem;
      padding-left: 1rem;
      align-items: center;
      text-align: right;
    }

    &.service-item-text-even {
      padding-right: 1rem;
      padding-left: 2rem;
      align-items: center;
      text-align: left;
    }
  }
}

/*
.service-item-image {

}
*/
.service-item-heading {
  margin: 1rem 0;
  text-transform: none;
}
